{% load static %}
<!DOCTYPE html>
<head>
    <title>Flappy Bird</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/fb-main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fb-reset.css' %}" />

</head>

<body>

    <div id="left-back">

    </div>

    <div id="right-back">

    </div>

    <main id="main-game">

        <section id="screen-game">

            <section id="background-game" class="animated">
                <br>
                <a class="btn btn-danger" href="/">Return Home</a>
                <a href="/flappybird" class="btn btn-success">Play Again</a>
                <div id="logo">
                    <img src="{% static 'assets/sprites/logo4.png' %}">
                </div>
                <section id="flyarea-game">
                    <div id="ceiling" class="animated"></div>
                    <div id="player" class="bird animated"></div>
                    <div id="bigscore"></div>
                    <div id="splash"></div>
                    <div id="scoreboard">
                        <div id="medal"></div>
                        <div id="currentscore"></div>
                        <div id="highscore"></div>
                        <div id="replay"><img src="{% static 'assets/sprites/replay.png' %}" height="70px" width="115" alt="replay"></div>
                    </div>

                </section>
            </section>

            <section id="footer-game" class="animated"></section>

        </section>

    </main>



    <script src="{% static 'js/fb-jquery.min.js' %}"></script>
    <script src="{% static 'js/fb-jquery.transit.min.js' %}"></script>
    <script src="{% static 'js/fb-buzz.min.js' %}"></script>
    <script src="{% static 'js/fb-main.js' %}"></script>

</body>

</html>