<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BWWdev - Home</title>
    {% load static %}
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet' %}">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Squadfree - v2.2.0
    * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="/"><span>BWW Development</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Development</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li class="drop-down"><a href="">More</a>
                    <ul>
                        <li><a href="/about-bww">About Ben</a></li>
                        <li class="drop-down"><a href="#">Ben's Projects</a>
                          <ul>
                            <li><a href="https://www.mtnmadehky.com" target="_blank">Mtn Made Hky</a></li>
                            <!-- <li><a href="/pacman/pacman">Marty-Marmot Arcade</a></li>
                            <li><a href="/flappybird/flappybird">Flappy Bird</a></li> -->
                            <li><a href="https://www.github.com/muggsieXIV" target="_blank">GitHub</a></li>
                          </ul>
                        </li>
                        <li class="drop-down"><a href="#">Ben's Articles</a>
                          <ul>
                            <li><a href="https://www.dubnetwork.ca/alumni-feature/40-60-players/" target="_blank">40/60 Players</a></li>
                            <li><a href="https://www.dubnetwork.ca/alumni-feature/hockey-teaches/" target="_blank">Hockey Teaches</a></li>
                            <li><a href="https://www.dubnetwork.ca/alumni-feature/why-the-western-hockey-league/"target="_blank">Why the WHL</a></li>
                          </ul>
                        </li>
                        <li class="drop-down"><a href="#">Interviews</a>
                          <ul>
                            <li><a href="https://www.youtube.com/watch?v=BrggCdLtGA4&t=12s" target="_blank">CTV Vancouver Island MVP Feature</a></li>
                            <li><a href="https://www.youtube.com/watch?v=_f6Bwe_4Eso" target="_blank">ShawTV Feature</a></li>
                            <li><a href="https://www.youtube.com/watch?v=oK-5YAeUMn8"target="_blank">Post Game Interview</a></li>
                          </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li> 
            </ul>
        </nav><!-- .nav-menu -->
    </div>
    </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container" data-aos="fade-up">
                <h1>Ben Walker</h1>
                <h2>Web Development</h2>
                <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
            </div>
        </section><!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="content">
                                <h3>Ben Walker</h3>
                                <p>
                                    Ben Walker is a highly creative individual that is equipped to grow and expand your online presence.
                                    His diverse ability in Development, Photography, Writing, and Graphic Design will work together to identify 
                                    your branding needs.
                                </p>
                                <a href="/about-bww" class="about-btn">Learn More About Ben Walker<i class="bx bx-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-stretch">
                            <div class="icon-boxes d-flex flex-column justify-content-center">
                                <div class="row">
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                        <i class="bx bx-cube-alt"></i>
                                        <h4>Development</h4>
                                        <p>
                                            Ben Walker's creative and technical virtuosos will tackle your mission-critical needs while captivating your audience. 
                                        </p>
                                        <div class="technologies">
                                          <p>Technologies:</p>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/java.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/python.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/django.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/flask.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/iOS-Swift.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/react.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/CSS.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/HTML.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/JavaScript.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/github.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/jQuery.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/ajax.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/bootstrap.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/expressjs.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/github.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/nodejs.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/postgresql.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/mongoDB.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/mysql.png' %}" alt=""/>
                                          <img class="tech-logos" src="{% static 'assets/img/technologies/sqlite.png' %}" alt=""/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                      <i class="bx bx-shield"></i>
                                      <h4>Graphic Design</h4>
                                      <p>
                                        There are three responses to graphic design – yes, no, and WOW! Graphic design is the voice of your brand.
                                        It optimizes your marketing efforts across all channels and is the key to building a professional brand. Being 
                                        consistent in your marketing collateral allows your brand to be easily recoginizable and allows your customers
                                        and clients to quickly get familar with what your company has to offer.
                                      </p>
                                      <div class="technologies">
                                        <p>Technologies:</p>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/AI.png' %}" alt=""/>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/XD.png' %}" alt=""/>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/photoshop.png' %}" alt=""/>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/Lr.png' %}" alt=""/>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/FCPX.png' %}" alt=""/>
                                        <img class="tech-logos" src="{% static 'assets/img/technologies/appleMotion.png' %}" alt=""/>
                                      </div>

                                  </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                        <i class="bx bx-images"></i>
                                        <h4>Photography</h4>
                                        <p>
                                            Don't waste your time with stock photos! Cut through the noise, fuel your brand and drive results with 
                                            content that captivates your audience and sells your brand.
                                        </p>
                                        <p>We shoot with <span><img class="camera-logos" src="{% static 'assets/img/technologies/canon.png' %}" alt=""/></span></p>
                                    </div>
                                    <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                      <i class="bx bx-receipt"></i>
                                      <h4>Writing</h4>
                                      <p>
                                          Ben Walker has worked diligently as a creative freelance writer, published by <span><a href="https://www.dubnetwork.ca">The DubNetwork</a></span>.
                                          Words are power! And he knows how to turn complex topics into warm conversations with your audience while fully displaying your expertise in your 
                                          industry. 
                                      </p>
                                  </div>
                                </div>
                            </div><!-- End .content-->
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->

            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container">
                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Process of Development</h2>
                    <p>
                        Whatever your company's needs are, Ben Walker has the ability to design web technology to improve your 
                        online presence and capabilities. Visit our Services page in the navigation bar at the top to find more
                        indepth information about our services packages and pricing.
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="bx bx-window-alt"></i></div>
                                <h4 class="title"><a href="">Frontend</a></h4>
                                <p class="description">
                                  Frontend web development, also known as client-side development is 
                                  the practice of producing HTML, CSS and JavaScript for a website or 
                                  Web Application so that a user can see and interact with them directly.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bx-code-block"></i></div>
                                <h4 class="title"><a href="">Backend</a></h4>
                                <p class="description">
                                  Backend development refers to the server side of an application and 
                                  everything that communicates between the database and the browser focusing 
                                  primarily on site functionality. 

                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                              <div class="icon"><i class="bx bx-coin-stack"></i></div>
                                    <h4 class="title"><a href="">Database</a></h4>
                                    <p class="description">
                                      Database development is a tool that your business can use to manage all
                                      that data in an organized, accessible format. Efficient data management 
                                      is a cost-effective measure for your business.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <div class="icon"><i class="bx bx-photo-album"></i></div>
                                        <h4 class="title"><a href="">Portfolio</a></h4>
                                        <p class="description">
                                            View Ben Walker's portfolio with examples of various projects with complexity ranging from basic
                                            to high functionality.
                                        </p>
                                        <br>
                                        <a href="#portfolio">View Portfolio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts  section-bg">
        <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">29</span>
                    <p><strong>Projects</strong> Completed since 2018</p>
                    <p><a href="https://github.com/muggsieXIV">Github</a></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">7</span>
                    <p><strong>Languages</strong> diversely fitting client needs</p>
                    <p>Python | Java | Mern | Swift | Html5 | Css | JavaScript</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">8</span>
                    <p><strong>Frameworks/Libraries</strong> Flask | Django | Django Rest Framework | Express | React | Bootstrap | JQuery | SwiftUI</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="icofont-users-alt-5"></i>
                    <span data-toggle="counter-up">4</span>
                    <p><strong>Databases</strong> PostgreSQL | MySQL | SQLite | MongoDB </p>
                </div>
            </div>

        </div>

    </div>
    </section><!-- End Counts Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Quotes about Ben</h2>
                <p>We take serious pride in our customer and employee satisfaction. Here's what real clients are saying about our products and services!</p>
            </div>

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item" data-aos="fade-up">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        It is the goal of every hockey program to produce a well rounded individual. And the Victoria
                        Royals have theirselves a Renaissance man.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-a.jpg' %}" class="testimonial-img" alt="">
                    <h3>Mira Laurence</h3>
                    <h4>CTV News - Anchor</h4>
                </div>

                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Really all I can say is just go talk to him. The kid is loaded with creativity! I think he 
                        can do just about anything.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-b.jpg' %}" class="testimonial-img" alt="">
                <h3>Logan Nelson</h3>
                <h4>Professinal Athlete</h4>
            </div>

            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    His workethic and competitive nature is hard to find and harder to develop in 
                    an individual. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-c.png' %}" class="testimonial-img" alt="">
                <h3>Mark Habschide</h3>
                <h4>WHL Coach</h4>
            </div>

            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I think winning both the Unsung Hero award and the Fan Favorite in a season speaks a lot about Ben. 
                    He goes above and beyond to do the things that need to be done without being asked. He really became
                    a strong and loved member of our community during his time in Victoria. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-d.png' %}" class="testimonial-img" alt="">
                <h3>Cameron Hope</h3>
                <h4>BC Hockey Chief Executive</h4>
            </div>

            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I couldn't be more excited about the website Ben developed and managed for my small business.
                    It became a focal point for growing the business, and successfully managing our programs. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-e.png' %}" class="testimonial-img" alt="">
                <h3>Tim Knox</h3>
                <h4>Entrepreneur</h4>
            </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->




    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Contact Ben Walker</h3>
          <!-- <p> Contact Ben Walker today to make your vision a reality</p> -->
          <a class="cta-btn" href="#contact">Contact</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Portfolio</h2>
          <p>Below are a list of projects Ben Walker has built. Visit Ben's <a href="#" class="github"><i class="bx bxl-github"></i>GitHub</a> for a complete list of projects.</p>

        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-python">Python</li>
              <li data-filter=".filter-java">Java</li>
              <li data-filter=".filter-mern">Mern</li>
              <li data-filter=".filter-swift">Swift</li>
              <li data-filter=".filter-sqspc">SquareSpace</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-python">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/python.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/python.png' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sqspc">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/SSone.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/SSone.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-sqspc">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/SStwo.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/SStwo.png' %}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/css.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/css.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mern">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/cssTwo.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/cssTwo.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mern">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/cssFour.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/cssFour.png' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-java">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/cssThree.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/cssThree.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-python">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/game.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/game.png' %}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-java">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/cssFive.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/cssFive.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-mern">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/mern.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/mern.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-swift">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/swiftOne.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/swiftOne.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-swift">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/swiftTwo.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/swiftTwo.png' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= MyGames Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Games</h2>
          <p>Everyone loves games. Check out Ben Walker's replicas of Pacman and Flappy Bird.</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="{% static 'assets/img/team/martyman.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Marty-Marmot Arcade</h4>
                <span>Help Marty collect all of his favorite candy, but watch out for refs!</span>
                <div class="social">
                  <a class="btn btn-warning" href="/pacman/pacman">Play Game</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="{% static 'assets/img/team/flappybird.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Flappy Bird</h4>
                <span>This is a replica of the popular Flappy Bird game</span>
                <div class="social">
                  <a class="btn btn-warning" href="/flappybird/flappybird">Play Game</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> End MyGames Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Contact</h2>
          <!-- <p>Whatever your web needs, where ever your business is located BenWillWalk can help!</p> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Location</h3>
              <p>Pine, Colorado</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <p>benwillwalk@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Phone</h3>
              <p>+1 952 356 4014</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 text-center">
            <!-- <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> -->
            <img src="{% static 'assets/img/benwalkerhky.jpg' %}" alt="" class="col-lg-12" />
            <a class="btn btn-secondary text-center mt-3" href="/about-bww">Learn more about Ben</a>
          </div>

          <div class="col-lg-6">
            <form action="form/" method="POST" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="comment" rows="5" data-rule="required, minlen:5" data-msg="Please be more descriptive" placeholder="Comment"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. We'll reach out soon!</div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>BenWillWalk</h3>
              <p class="pb-3"><em>Contact us today!</em></p>
              <p>
                BenWillWalk is located in<br>
                Pine, Colorado <br>
                <br>
                <strong>Phone:</strong> +1 952 356 4014<br>
                <strong>Email:</strong> benwillwalk@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="github"><i class="bx bxl-github"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Development</a></li>
            </ul>
        </div>

                <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="250">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Photography</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter" data-aos="fade-up" data-aos-delay="350">
                    <h4>Our Newsletter</h4>
                    <p>
                      Learn all about our services, and recieve indepth information on the important
                      aspects of conducting business online. 
                    </p>
                    <form action="/subscribe" method="post">
                      {% csrf_token %}
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <strong><span>BenWillWalk Development</span></strong>
        </div>
    </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
